
  h1 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  input{
    border: 0 none;
    outline: 0 none;
  }
  
  img,
  .basket-labels,
  .basket-product {
    width: 100%;
  }
  
  input,
  .basket,
  .basket-labels,
  .item,
  .author,
  .price,
  .basket-product,
  .product-image,
  .product-name {
    float: left;
  }
  
  main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
  }
  
  .basket,
  aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .basket {
    width: 70%;
  }
  
  .basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
  }
  
  .item {
    width: 55%;
  }
  
  .author,
  .price {
    width: 15%;
  }
  
  .price {
    text-align: right;
  }
  
  
  .item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
  }
  
  .product-image {
    width: 35%;
  }
  
  .product-details {
    width: 65%;
  }
  
  .product-name {
    color: black;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .author-field {
    font-size: 0.625rem;
    padding: 2px;
    width: 3.75rem;
  }
  
  aside {
    float: right;
    position: relative;
    width: 30%;
  }
  
  .summary {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
  }
  
  .total-title,
  .total-value{
    color: #111;
    float: left;
    width: 50%;
  }
  
  .total-value {
    text-align: right;
  }
  
  .total-title {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 640px) {
    aside,
    .basket,
    .summary,
    .item 
    {
      width: 100%;
    }
    .basket-labels {
      display: none;
    }
    .item {
      margin-bottom: 1rem;
    }
    .product-image {
      width: 40%;
    }
    .product-name {
      width: 60%;
    }
    .author {
      text-align: center;
      width: 34%;
    }
    .author-field {
      float: none;
    }
    .summary {
      margin-top: 1.25rem;
      position: relative;
    }
  }
  
  @media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
      padding: 0 1rem 0 0;
    }
    .summary {
      width: 28%;
    }
  }
  
  @media screen and (max-width: 960px) {
    main {
      width: 100%;
    }
    .product-name {
      padding: 0 1rem;
    }
  }
