<main>
     <div class="basket">

              <div class="basket-labels">
                <ul>
                  <li class="item item-heading">Book</li>
                  <li class="author">Author</li>
                  <li class="price">Price</li>
                </ul>
              </div>

              <div *ngFor="let book of basket?.books" class="basket-product">
                <div class="item">
                  <div class="product-image">
                    <img src="{{book.image}}" alt="Placholder Image 2" class="product-frame">
                  </div>
                  <div class="product-name">
                     {{book.name}}
                  </div>
                </div>
                 <div class="author">
                    <div class="author-field">{{book.author.firstName}} {{book.author.lastName}}</div>
                  </div>

                <div class="price">{{book.price}}</div>
              </div>
            </div>

            <aside>
                <br><br>
              <div class="summary">
                <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
                <div class="summary-subtotal">
                  <div class="subtotal-title">Subtotal</div>
                  <div class="subtotal-value final-value" id="basket-subtotal">{{basket?.totalPrice}}</div>

                </div>
                <div class="summary-delivery">
                  <select name="delivery-collection" class="summary-delivery-selection">
                      <option value="0" selected="selected">Select Collection or Delivery</option>
                     <option value="collection">Collection</option>
                     <option value="first-class">Royal Mail 1st Class</option>
                     <option value="second-class">Royal Mail 2nd Class</option>
                     <option value="signed-for">Royal Mail Special Delivery</option>
                  </select>
                </div>
                <div class="summary-total">
                  <div class="total-title">Total</div>
                  <div class="total-value final-value" id="basket-total">{{basket?.totalPrice}}</div>
                </div>
                <div class="summary-checkout">
                  <button class="checkout-cta">Go to Secure Checkout</button>
                </div>
              </div>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            </aside>
          </main>
        