.basket{
  padding-bottom: 50px;
  padding-left: 1%;
  overflow: hidden;
  background-color: rgb(243,247,247);
}

.basket-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 120px;
  margin-left: 32%;
  padding-bottom: 20px;
}

table{
  margin-left: 5%;
  width: 65%;
  background-color: white;
  float: left;
}

.remove{
  padding-top: 7rem;
  text-align: right;
}

.remove button{
  text-decoration: underline;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

aside {
  float: right;
  margin-right: 50px;
  width: 19%;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.summary {
  border: 1px solid #aaa;
  background-color: white;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  position: fixed;

}

.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.total-title,
.total-value{
  color: #111;
  float: left;
  width: 50%;
  text-align: center;
}

  