<app-search-bar></app-search-bar>

<section class="basket">

  <div class="basket-title">
    <h4>Your Basket</h4>
  </div>


  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <th>Book</th>
          <th>Author</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody *ngFor="let book of basket?.books">
        <tr>
          <td>
            <div class="book-image">
              <img src="{{book.image}}" height="175px" width="125px">
            </div>
          </td>
          <td>{{book.author.firstName}} {{book.author.lastName}}</td>
          <td>
            {{book.price}}
            <div class="remove">
              <button (click)="removeBook(book.id)">Remove</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <aside>
    <br><br>
    <div class="summary">
      <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>

      <div class="summary-total">
        <div class="total-title">Total</div>
        <div class="total-value final-value" id="basket-total">{{basket?.totalPrice}}</div>
      </div>

    </div>

  </aside>

</section>