<app-menu></app-menu>
<h1>Books</h1>
<br><br>

<div class="container">
    Search by title: <input type="text" [(ngModel)]="searchValue">
    <button (click)="findByTerm(searchValue)">Go</button>
    <br>

    <button (click)="findAll()">All books</button>
    <br>

    <select [(ngModel)]="genreSearch">
        <option *ngFor="let g of genres">{{g}}</option>
    </select>

    <button (click)="findByGenre()">Filter genre</button>
</div>

<br>
<div class="container">
    <table class="table">

        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>copiesSold</th>
                <th>Book cover</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.name}}</td>
                <td>{{book.author.firstName}} {{book.author.lastName}}</td>
                <td>{{book.genre}}</td>
            <td>{{book.copiesSold}}</td>
                <td><img src="{{book.image}}" width="100" height="150"></td>
            </tr>
        </tbody>
    </table>
</div>