<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">

            <div><img class="img-fluid" align="left" src="assets/img/cv/cv-circle-cropped.png"></div>

            <div class="box-tra">
                <h1 class="mx-auto my-0"></h1>
                <p class="text-white mx-auto mt-2" align="left">
                    Hi there! Welcome to my website.
                    <br><br>

                    I aspire to be a software developer working for a company I believe in, part of a team that I can
                    learn
                    from and shares my passion for code. Currently studying full time from home, creating projects helps
                    me
                    put the skills I learn to use and enjoy my progress.
                    <br><br>

                    I created this online bookshop as I have always loved reading ever since I was very young, starting
                    with
                    the Harry Potter series as many others have. The books you will come accross are all books that I
                    have read and this way, I hope you get to know me a little better.
                    <br><br>

                    On this current page you can find my CV and contact details including my github account, on which
                    you
                    can find the full code for this website.
                    <br><br>

                    I hope you enjoy your visit.

                </p>
            </div>

            <a routerLink="/home" class="btn btn-primary js-scroll-trigger" href="#accessBookshopButton">Access
                Bookshop</a>
        </div>
    </div>
</header>