<nav class="main-nav-container fixed-top">

	<div class="main-nav">
		<div class="nav-title" href="#page-top">Shannon's Bookworm Corner</div>

		<div>
			<ul>
				<li>
					<a *ngIf="!onCreatorPage()" routerLink="/home" href="#home">Home</a>
				</li>
				
				<li>
					<a *ngIf="!onCreatorPage()" routerLink="/basket" href="#basket">Basket</a>
				</li>

				<li>
					<a *ngIf="!onCreatorPage()" routerLink="/creator" href="#about">Creator</a>
				</li>

				<li>
					<a *ngIf="onCreatorPage()" href="#cv">CV</a>
				</li>

				<li>
					<a *ngIf="onCreatorPage()" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
