<nav>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="height: 60px;" id="mainNav">
	<div class="container">

		<a class="navbar-brand js-scroll-trigger" href="#page-top">Shannon's Bookworm Corner</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true"
			aria-label="Toggle navigation">

			Menu
			<svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas"
				data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
				<path fill="currentColor"
					d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
				</path>
			</svg>
		</button>
		<div class="navbar-collapse collapse show" id="navbarResponsive" style="">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item"><a *ngIf="!onCreatorPage()" routerLink="/home" class="nav-link js-scroll-trigger"
						href="#home">Home</a>
				</li>

				<li class="nav-item"><a *ngIf="!onCreatorPage()" routerLink="/books" class="nav-link js-scroll-trigger"
						href="#books">Books</a>
				</li>

				<li class="nav-item"><a *ngIf="authenticationService.isUserLoggedIn() && !onCreatorPage()"
						routerLink="/welcome" class="nav-link js-scroll-trigger" href="#about">Creator</a></li>

				<li class="nav-item"><a *ngIf="onCreatorPage()" class="nav-link js-scroll-trigger" href="#cv">CV</a>
				</li>

				<li class="nav-item"><a *ngIf="onCreatorPage()" class="nav-link js-scroll-trigger"
						href="#contact">Contact</a>
				</li>

				<li class="nav-item"><a *ngIf="!authenticationService.isUserLoggedIn() && !onCreatorPage()"
						routerLink="/login" class="nav-link js-scroll-trigger" href="#login">Login</a></li>

				<li class="nav-item"><a *ngIf="authenticationService.isUserLoggedIn() && !onCreatorPage()"
						routerLink="/logout" class="nav-link js-scroll-trigger" href="#logout">Logout</a></li>


			</ul>
		</div>
	</div>
</nav>
<br>

<!-- <app-search-navigation></app-search-navigation> -->
