.projects-section {
	 padding: 10rem 0;
}
 .projects-section .featured-text {
	 padding: 2rem;
	 padding: 0 0 0 2rem;
	 border-left: 0.5rem solid primary;
}
 .projects-section .project-text {
	 padding: 3rem;
	 font-size: 90%;
	 padding: 5rem;
}
 .projects-section .project-text hr {
	 border-color: primary;
	 border-width: 0.25rem;
	 width: 30%;
}
 