<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Shannon's Bookshop</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true"
            aria-label="Toggle navigation">

            Menu
            <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                </path>
            </svg>
        </button>
        <div class="navbar-collapse collapse show" id="navbarResponsive" style="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#cv">CV</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Shannon Amarasekara</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">

            </h2>
            <a routerLink="/home" class="btn btn-primary js-scroll-trigger" href="#about">Access Bookshop</a>
        </div>
    </div>
</header>

<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4"></h2>
                <p class="text-white-50">
                    Description
                </p>
            </div>
        </div>
    </div>
</section>

<section class="projects-section bg-light" id="projects">
    <div class="container">

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/books.jpg" alt="" align="justify-content-center"></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Bookshop Site</h4>
                            <p class="mb-0 text-black-50">An Angular/Java/MySQL application using REST APIs and
                                frameworks SpringBoot and Hibernate.</p>
                            <br>
                            <a routerLink="/home" class="btn btn-primary">Access Bookshop</a>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/battleship1.jpeg" alt=""></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black">Battleship</h4>
                            <p class="mb-0 text-black-50">My first ever project, coded purely in Java.</p>
                            <br>
                            <a routerLink="https://github.com/Shannon-Amarasekara" class="btn btn-primary">Access
                                Battleship</a>

                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects-section bg-white" id="cv">
    <div class="container">
        <div>
            <div><img class="img-fluid" src="assets/img/cv/cv-photo.jpg" alt="" width="200"
                    height="200"></div><br>

            <h5 class="text-black">Profile</h5>
            <p class="mb-0 text-black-50">Business Management and Digital Media graduate, proactive about learning new
                technologies in order to pursue a career as a JAVA software developer. Studying full time through online
                resources and creating both back end and full stack projects in JAVA and other languages with the help
                of multiple frameworks. </p><br>

            <h5 class="text-black">Skills</h5>
            <p class="mb-0 text-black-50">Languages: JAVA, HTML*, CSS*, SQL*, TYPESCRIPT*<br>
                Methodologies: Agile*, TDD, BDD<br>
                IDE: Intellij, Angular IDE<br>
                Build tools: Maven<br>
                Versioning: Git<br>
                Framework: Spring Boot, Hibernate/JPA, Angular*<br>
                *currently studying
                <br><br>
                French: fluent
                German: intermediate
                Japanese: beginner
            </p><br>

            <h5 class="text-black">Education</h5>
            <p class="mb-0 text-black-50">
                May 2019: JAVA PROGRAMMING MASTERCLASS<br>
                (10 months) Online course, Udemy.com<br>
                Learning the fundamentals of the JAVA object-oriented programming language, discovery of frameworks such
                as Spring and the principles associated with clean code. I apply my new knowledge to create a JAVA coded
                battleship game project.<br><br>
                Sep. 2018: BSC BUSINESS MANAGEMENT AND DIGITAL MEDIA<br>
                University of Roehampton, London<br>
                Accounting; Business Mathematics; Multimedia; Project Management; Website Design; Digital Media
                Project.<br><br>

                July 2016: A LEVELS: IT, EXTENDED PROJECT, APPLIED BUSINESS<br>
                Glenthorne High School, London<br>
                IT: Systems and applications; Project using Microsoft Access and Microsoft Excel<br>
                Extended Project: Dissertation 'The effects of 3D printing on our future'<br>
                Business Studies: Financial planning and analysis, Business Dynamics, Entrepreneurship<br>
            </p><br>

            <h5 class="text-black">Work Experience</h5>

            <p class="mb-0 text-black-50">
                Jul. to Sep. 2019: Dental receptionist, Heathfield Dental Clinic<br>
                Providing information and help to patients<br>
                Answering calls and handling emails<br>
                Booking appointments<br>
            </p><br>

            <h5 class="text-black">Interests</h5>

            <p class="mb-0 text-black-50">
                Self-taught pianist, video editing (Adobe Premiere Pro)
            </p><br>

        </div>
    </div>
</section>
