.authentication{
  padding-bottom: 50px;
  padding-left: 1%;
  overflow: hidden;
  background-color: rgb(243,247,247);
}

.authentication-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 120px;
    text-align: center;
    padding-bottom: 20px;
}

.container-login{
    width: 50%;
    height: 300px;
    position:relative;
    margin: auto;
    background-color: white;
}

.login-form{
    text-align: center;
    font-size: 1.3vw;
    display: block;
}

#username-login-input, #password-login-input{
    width: 400px;
    text-align: center;
}

#username-login-label, #password-login-label{
    margin-top: 25px;
}

#submit-button{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 3px;    
    background-color: rgb(120,213,215);    
}

#sign-up-link{
    color: blue;
    text-decoration-line: underline;
}

.container-sign-up{
    width: 50%;
    height: 300px;
    position:relative;
    margin: auto;
    background-color: white;
    text-align: center;
}

.sign-up{
    font-size: 1.3vw;
    display: block;
}

#firstName-signup-label
, #lastName-signup-label
, #username-signup-label
, #password-signup-label{
    margin-top: 25px;
    margin-right: 5%;
}

#firstName-signup-input
, #lastName-signup-input
, #username-signup-input
, #password-signup-input{
    width: 50%;
    border-radius: 5px;
    border-width: 1px;
}