<app-menu></app-menu>

<section class="book-page">

    <div>
        <button class="back-button" (click)="goBack()">< Go Back</button>
    </div>

    <div class="book-container">

        <br>
        <img class="book-image" src="{{book.image}}">

        <div class="book-info">
            <div class="book-name">
                {{book.name}}
            </div>

            <div class="book-author">
                {{book.author.firstName}} {{book.author.lastName}}
            </div>

            <div class="book-synopsis">
                {{book.synopsis}}
            </div>

            <div class="book-genre">
                Genre: {{book.genre}}
            </div>

            <div class="book-price">
                £{{book.price}}
            </div>

            <div>
                <button class="add-to-basket-button" (click)="addToBasket(book.id)">
                    Add to basket
                </button>
            </div>
        </div>
    </div>


</section>