
<section>
    <h4>Bestsellers</h4><br>

    <div class="carousel">

        <button>
            <div  class="prev fas fa-caret-left"></div>
        </button>

        <div *ngFor="let book of booksForDisplay.slice(0,3)" >

            <img (click)="viewBook(book.id)" src="{{book.image}}" width="100" height="150">
            <br>
            {{book.name}}
            <br>
            {{book.author.firstName}} {{book.author.lastName}}
            <br>
            £{{book.price}}
            <br>

            <button (click)="addToBasket(book.id)" class="btn-primary" >
                <div class="fas fa-cart-plus"></div>
            </button>
        </div>

    <button (click)="next()">
        <div class="next fa fa-caret-right"></div>
    </button>

    </div>

</section>
